node_modules/
*.tgz
**/.poteto-mode-tools-install-key
/.pi/
/definitions/generalist.md
/definitions/implementer.md
/definitions/researcher.md
/definitions/reviewer.md
/definitions/scout.md
/.pi-herdsman/
